@import "https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap";
/* [project]/src/app/globals.css [app-client] (css) */
@font-face {
  font-family: Neutraface Text;
  src: url("/fonts/Neutraface-Text-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Neutraface Text;
  src: url("/fonts/Neutraface-Text-Light-Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Neutraface Text;
  src: url("/fonts/Neutraface-Text-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Neutraface Text;
  src: url("/fonts/Neutraface-Text-Book-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Neutraface Text;
  src: url("/fonts/Neutraface-Text-Demi.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Neutraface Text;
  src: url("/fonts/Neutraface-Text-Demi-Italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Neutraface Text;
  src: url("/fonts/Neutraface-Text-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Neutraface Text;
  src: url("/fonts/Neutraface-Text-Bold-Italic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

:root {
  --color1: #cbf5c3;
  --color2: #ac8f45;
  --color3: #d1ffc8;
}

html, body {
  background-color: #fff;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-family: Neutraface Text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #d3d3d3;
}

::-webkit-scrollbar-track {
  background: #0000004d;
}

::-webkit-scrollbar-thumb {
  background: #b9b9b9;
  border-radius: 10px;
  border: 2px solid #0000;
}

::-webkit-scrollbar-corner {
  background: none;
}

main {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color1);
  font-family: Neutraface Text;
  padding-top: 55px;
  height: 100%;
  flex-grow: 1;
}

.productList {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin: 20px auto;
  gap: 20px;
  box-sizing: border-box;
}

.product {
  border: 1px solid var(--color2);
  border-radius: 4px;
  text-align: center;
  background-color: #fff;
  margin: 5px;
  padding: 3px;
  flex-direction: column;
  display: flex;
  box-shadow: 0 4px 8px #0003, 0 6px 20px #00000030;
}

.checkout-button {
  margin-top: 10px;
  padding: 10px;
  background-color: #0070f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-button:hover {
  background-color: #005bb5;
}

.cartIcon a {
  font-size: 30px;
  text-decoration: none;
  color: #000;
  z-index: 99;
  position: relative;
}

.pulse-cart {
  animation: 2s ease-in-out infinite pulseCart;
}

.terms-link {
  text-decoration: underline;
  color: #00f !important;
}

@keyframes pulseCart {
  0% {
    transform: scale(1);
    text-shadow: 0 0 5px #0000004d;
  }

  50% {
    transform: scale(1.15);
    text-shadow: 10px 10px 30px #000c;
  }

  100% {
    transform: scale(1);
    text-shadow: 0 0 5px #0000004d;
  }
}

.cart-number {
  font-size: 20px;
  top: 0;
  right: 20px;
  z-index: 99;
}

.cart {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cart span {
  align-items: center;
  display: flex;
}

.backButton {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-color: #0000;
  font-size: 12px;
  font-family: Neutraface Text;
  transition: color 1.5s ease-in-out, opacity 1.5s ease-in-out;
  opacity: 1;
  color: var(--color2) !important;
}

.backButton:hover {
  background-color: #0000;
  color: var(--color1) !important;
}

.backButton span {
  margin: 0;
}

.group-div {
  display: flex;
  justify-content: space-between;
  margin-top: -20px;
}

.city-image {
  font-size: 40px;
  margin: 0 0 -25px -18px;
  padding: 5px;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
}

.removeItem {
  cursor: pointer;
  color: red;
}

.price {
  margin: 0 5px;
  font-family: Neutraface Text;
}

.price-checkout {
  margin: 5px 10px;
  color: #000;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}

.remove, .proceed {
  cursor: pointer;
  font-size: 12px;
  width: 100%;
  border-radius: 4px;
}

.name-checkout {
  color: #000;
}

.navbar {
  position: absolute;
  top: 0;
  padding: 10px;
  background-color: #0000;
  width: 100%;
}

.nav-title {
  font-size: 25px;
  font-family: Neutraface Text;
  color: var(--color2);
}

.addToCart {
  background-color: #d2efff;
  box-sizing: border-box;
  border: 1px solid var(--color2);
  align-self: center;
  padding: 3px;
  color: var(--color2);
  width: unset;
  justify-self: flex-start;
  align-self: flex-end;
  margin: -10px 3px 3px;
  font-family: Neutraface Text;
  transition: background-color 1s, transform .3s ease-in-out;
  animation: 2s ease-in-out infinite pulse;
  width: 95%;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 12px;
  border-radius: 4px;
}

.addToCart:hover {
  transition: background-color 1s, transform .3s ease-in-out;
  background-color: var(--color3) !important;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 5px #8b451333;
  }

  65% {
    transform: scale(1.03);
    box-shadow: 0 0 10px #8b45134d;
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 5px #8b451333;
  }
}

.productPrice {
  margin: 0;
}

.remove:hover {
  background-color: #969696;
  color: #000;
  transition: all 1s;
}

.home-group {
  display: flex;
  flex-direction: column;
}

.remove {
  border: none;
  border: 1px solid #20712d;
}

.remove-cart {
  border: none;
  background-color: #0000;
  color: red;
  font-size: 8px;
  margin-bottom: 5px;
  padding: 0;
}

.remove-cart:hover {
  color: maroon;
}

.checkoutPage a {
  align-self: flex-start;
}

.bill-container {
  height: 100%;
  align-items: center;
  display: flex;
  flex: 1;
}

.checkoutPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  flex-grow: 1;
  width: 100%;
  min-height: 100%;
}

.whats-1 {
  width: 120px;
  align-self: center;
}

.whats {
  height: 15px;
  width: 17px;
  margin: 0 0 0 5px;
  display: none;
}

.in-cart-text {
  font-size: 12px;
  color: #6e878f;
  justify-self: flex-end;
  align-self: flex-end;
  padding: 3px;
  margin-top: -5px;
}

.cartDiv {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.cartDiv ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
}

.cartDiv ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: Neutraface Text;
  font-size: 14px;
  margin: 3px 0;
}

.total-div {
  border-top: 1px solid #000;
  margin: 10px 0;
  padding-top: 10px;
  justify-content: space-between;
  display: flex;
  font-family: Neutraface Text;
  font-size: 14px;
}

.total {
  text-align: end;
}

.city-image-cart {
  width: 150px;
  height: 200px;
  border: 1px solid gray;
  border-radius: 4px;
  margin: 5px;
}

.product-text-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #8b4513;
}

.product-card-text {
  width: 120px;
  font-weight: 500;
  font-size: 22px;
  font-family: Neutraface Text;
  padding: 10px 0;
  margin: 10px 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer {
  width: 100%;
  background-color: var(--color2);
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 30px;
  justify-content: space-between;
  overflow: hidden;
  flex-shrink: 0;
}

.fa-instagram {
  font-size: x-large;
}

.footer-text {
  font-family: Neutraface Text;
  font-size: 28px;
  text-align: center;
  letter-spacing: 1px;
  padding: 10px;
  color: var(--color1);
}

.footer-div-2 {
  display: flex;
  text-align: center;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column !important;
}

.footer-div-1 {
  justify-content: space-between;
  display: flex;
  color: #fff;
  width: 100%;
  flex: 1;
  flex-direction: row !important;
}

.socials {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.socials p {
  margin: 5px;
  text-align: center;
  font-size: 14px;
}

.socials a {
  text-align: center;
  align-self: center !important;
}

.sitemap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  font-family: Neutraface Text;
}

.sitemap a {
  font-family: Neutraface Text;
  padding: 5px 0;
  text-decoration: none;
  display: block;
  color: var(--color1);
  font-size: 18px;
}

.price {
  color: var(--color2);
}

.one-year-text {
  margin: 3px;
  color: red;
  font-size: 12px;
}

.checkoutPage {
  background-color: #fff;
}

.termsDiv {
  display: flex;
  margin-top: 40px;
}

.terms {
  text-align: justify;
  color: #000;
  font-family: Neutraface Text;
  font-size: 14px;
  line-height: 16px;
}

.terms_checkbox {
  margin-right: 10px;
  border: 1px solid #000;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  border-radius: 2px;
  box-sizing: border-box;
  width: 55px !important;
  height: 15px !important;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 4px 10px #0006;
  }

  60% {
    transform: scale(1.07);
    box-shadow: 0 6px 15px #0009;
  }

  100% {
    transform: scale(1);
    box-shadow: 0 4px 10px #0006;
  }
}

@media screen and (width <= 800px) {
  .sitemap {
    font-size: 14px;
    margin: 0 !important;
  }

  .footer {
    flex-direction: column !important;
  }

  .productList {
    flex-direction: column;
    align-items: center;
  }

  .product-card-text {
    font-size: 20px !important;
    width: 110px !important;
  }
}

@media screen and (width <= 500px) {
  .product {
    margin: 5px;
  }
}

.footer {
  gap: 15px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


/*# sourceMappingURL=src_app_globals_b80590.css.map*/
