/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

.terms-container {
  width: 100%;
  max-width: 900px;
  margin: 50px auto 0px;
  padding: 25px;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.section-content,
.section-list {
  font-family: Neutraface Text;
  font-size: 14px;
  line-height: 16px;
}

/* Header */
.terms-header {
  text-align: center;
  margin-bottom: 20px;
}

.terms-title {
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
  font-family: "Neutraface Text", sans-serif !important;
}

.terms-dates {
  font-size: 11px;
  color: #666;
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: Neutraface Text;
  font-size: 10px;
  line-height: 16px;
}

/* Sections */
.terms-section {
  margin: 20px 0;
  padding: 15px;
  border-left: 4px solid #ac8f45;
  background: #f1faff;
  border-radius: 5px;
}

.section-title {
  /* font-weight: bold; */
  color: #007aff;
  margin-bottom: 10px;
  font-family: Neutraface Text;
  font-size: 16px;
  /* line-height: 16px; */
}

.section-content {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
}

.section-list {
  padding-left: 20px;
}

.section-list li {
  font-size: 16px;
  color: #333;
  margin-bottom: 8px;
}

/* Responsive Styles */
@media screen and (max-width: 700px) {
  .terms-container {
    width: 95%;
    padding: 15px;
    box-shadow: none;
    border-radius: 0;
  }

  .terms-title {
    font-size: 22px;
  }

  .section-title {
    font-size: 18px;
  }

  .section-content,
  .section-list li {
    font-size: 14px;
  }

  .backButton {
    font-size: 14px;
    padding: 8px 15px;
  }
}

@media screen and (min-width: 700px) {
  .terms-container {
    width: 70%;
    padding: 30px;
  }

  .terms-title {
    font-size: 32px;
  }

  .section-title {
    font-size: 22px;
  }

  .section-content,
  .section-list li {
    font-size: 18px;
  }

  .backButton {
    font-size: 18px;
    padding: 12px 25px;
  }
}
